@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 220 15% 25%;

    --card: 0 0% 100%;
    --card-foreground: 220 15% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 25%;

    --primary: 340 85% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 90%;
    --secondary-foreground: 210 15% 20%;

    --muted: 210 20% 94%;
    --muted-foreground: 210 10% 45%;

    --accent: 210 20% 92%;
    --accent-foreground: 210 15% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 340 85% 60%;

    --radius: 0.75rem;
  }

  .dark {
     /* TODO: Definir paleta oscura */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
